body {
  font-family: Sans, Arial, Heveltica;
  background-color: #002;
  background: radial-gradient(circle, #237 0%, #101 100%);
  background-attachment: fixed;
  font-size: 15pt;
}
form {
  background-color: #eee;
  margin: 0 auto;
  width: 50%;
  border-radius: 1%;
  border: 2px dashed #333;
  min-width: 200px;
  box-shadow: 0px 0px 2px 4px #000, -20px -20px 500px #f0f, 20px 20px 200px #0f0;
  padding: 1%;
}
button {
  font-weight: bold;
  font-size: 15pt;
  padding: 2%;
  margin-right: 1%;
  color: #fff;
  background-color: #111;
  border: dashed #0f0;
  border-radius: 5%;
}
button:hover {
  border: solid #0f0;
  color: #000;
  background-color: #fff;
  transition-duration: 400ms;
}
